/*font-family: 'Padauk', sans-serif;*/
body{
	padding: 0;
	margin: 0;
	letter-spacing: .45px;
    word-spacing: -5px;
	font-family: 'Padauk', sans-serif;
/*	line-height: 40px;*/
}
.header{
	height: 105px;
	background-color: #3B5998;
}
.wrapper{
	width: 67%;
	margin: 0 auto;
	padding-bottom: 10px;
	overflow: hidden;
}
.logo{
	margin-top: 35px;
	float: left;
}
.login{
	width: 72%;
	float: right;
	position: relative;
	padding-right: 28px;
}
.login ul{
	float: right;
	list-style: none;
}
.login ul li{
	float: left;
}
.login label{
	color: white;
	font-size: 18px;
	height: 100px;
}
.login label input{
	border: none;
	border: 1px solid black;
	height: 24px;
	width: 180px;
	margin-right: 20px;
}
.login label input:active{
	border: 1px solid black; 
}
.login button{
	background-color: #4267B2;
	border: none;
	border: 1px solid #29487D;
	float: right;
	font-weight: 700;
	color: white;
	width:58px;
	height: 28px;
	margin-top: 27px;
}
.login button:hover{
	background-color: #365899
}
.login a{
	color: #73ABD8;
	float: right;
	text-decoration: none;
	font-size: 17px;
}
.login a:hover{
	text-decoration: underline;
}
.fa{
	position: absolute;
	right:149px;
	top: 75px; 
}
  /*header complete*/
.banner{
	height: 750px;
	background-image: url("../images/body.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*blog 1 stars*/
.blog1{
	width: 54%;
	float: left;
}
.blog1 h1{
	font-size: 28px;
	font-weight:700;
	color: #0E385F;
	margin-top: 52px;
	margin-bottom: 0px;
	line-height: 30px; 
}
.blog1 img{
	width: 100%;	
}
/*blog 2 starts*/
.blog2{
	width: 42%;
	float: right;
}
.blog2 h1{
	font-size: 50px;
	font-weight:600;
	margin-top: 20px;
	margin-bottom:-9px;
}
.blog2 h2{
	font-size: 29px;
	font-weight:400;
	margin-top: 1px;
	margin-bottom: 0px;
}
/*sign up forms stars*/
.blog2 form ul{
	padding-left: 0;
}
.blog2 form ul li{
	list-style: none;
	float: left;
}
.blog2 form input{
	width: 232px;
	height: 48px;
	border: 1px solid #BDC7D8;
	border-radius: 6px;
	font-size: 23px;
	color: #989C9F;
	margin-bottom: 13px;
}
.blog2 form ul li:first-child{
	margin-right: 13px;
}
/*birthday starts*/
.birthday label{
	font-size: 27px;
}
.birthday select{
	height: 36px;
	width: 76px;
	border: 1px solid #BDC7D8;
	font-size: 17px;
}
.provide{
	float: right;
	margin-right: 94px;
	line-height: 19px;
}
.provide a{
	text-decoration: none;
	color: #365899;
}
.provide a:hover{
	text-decoration: underline;
}
/*birthday ends*/
/*male female checkbox*/
.mfbox input{
	height: 18px;
	width: 18px;
}

.mfbox{
	margin: 20px 0 20px 10px;
}
.mfbox span{
	font-size: 24px;
}
/*more text*/
.more{
	width: 75%;
	line-height: 19px;
	color: #7D7D7E;
}
.more a{
	text-decoration: none;
	color: #365899;
}
.more a:hover{
	text-decoration: underline;
}
/*button*/
.blog2 button{
	background-color: #5E9B4B;
	border: none;
	border: 1px solid #2F5212;
	border-radius: 6px;
	height:50px;
	width: 242px;
	color: white;
	font-size: 25px;
	margin-bottom: 34px;
}
.blog2 button:hover{
	background-color: #6DAA59;
}
/*button ends*/
.page{
	font-weight: 700;
	color: #666666;
	font-size: 18px;
}
.page a{
	text-decoration: none;
	color: #365899;
}
.page a:hover{
	text-decoration: underline;
}
/*page ends*/
